# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# CMake stuff
**/build/*

# Personal files
app
Test
raylib-5.5
tmx_1.10.0
tmx-tmx_1.10.0
*.zip
*.tar.gz
RaylibPlayground/4thAnniversary/Anniversary
RaylibPlayground/Arkanoid/Lesson01/Lesson1
RaylibPlayground/Arkanoid/Lesson02/Lesson2
RaylibPlayground/Arkanoid/Lesson03/Lesson3
RaylibPlayground/Arkanoid/Lesson04/Lesson4
RaylibPlayground/Arkanoid/Lesson05/Lesson5
RaylibPlayground/Arkanoid/Lesson06/Lesson6
RaylibPlayground/Arkanoid/Lesson07/Lesson7
RaylibPlayground/Asteroid/.vscode/
RaylibPlayground/Asteroid/Asteroid
RaylibPlayground/Examples/Core/10WindowResizing/WindowResizing
RaylibPlayground/Examples/Core/1BasicWindow/BasicWindow
RaylibPlayground/Examples/Core/2BasicScreenManager/BasicScreenManager
RaylibPlayground/Examples/Core/3WindowShouldClose/WindowShouldClose
RaylibPlayground/Examples/Core/4InputHandling/InputHandling
RaylibPlayground/Examples/Core/5GamepadInputHandling/GamepadInputHandling
RaylibPlayground/Examples/Core/6RandValues/RandValues
RaylibPlayground/Examples/Core/7ScissorTest/ScissorTest
RaylibPlayground/Examples/Core/8-2dCamera/2DCamera
RaylibPlayground/Examples/Core/8-2dCamera/raylib-5.5/
RaylibPlayground/Examples/Core/9-2dPlatformer/2DCameraPlatformer
RaylibPlayground/HelloWorldProject/HelloWorld
RaylibPlayground/Snake/Snake
RaylibPlayground/UltimaRPGTutorial/Tutorial
RaylibPlayground/raylib_cheatsheet_v5.5.pdf
SDLPlayground/SimplePlatformer/SimplePlatformer
SDLPlayground/Tutorial/L10ColorKeying/10_color_keying/
SDLPlayground/Tutorial/L10ColorKeying/L10
SDLPlayground/Tutorial/L11ClipRenderingNSpritesheets/11_clip_rendering_and_sprite_sheets/
SDLPlayground/Tutorial/L11ClipRenderingNSpritesheets/L11
SDLPlayground/Tutorial/L12ColorModulation/12_color_modulation/
SDLPlayground/Tutorial/L12ColorModulation/L12
SDLPlayground/Tutorial/L13AlphaBlend/13_alpha_blending/
SDLPlayground/Tutorial/L13AlphaBlend/L13
SDLPlayground/Tutorial/L14AnimationAndVSync/14_animated_sprites_and_vsync/
SDLPlayground/Tutorial/L14AnimationAndVSync/L14
SDLPlayground/Tutorial/L15RotatingAndFlipping/15_rotation_and_flipping/
SDLPlayground/Tutorial/L15RotatingAndFlipping/L15
SDLPlayground/Tutorial/L16TrueTypeFonts/16_true_type_fonts/
SDLPlayground/Tutorial/L16TrueTypeFonts/L16
SDLPlayground/Tutorial/L16TrueTypeFonts/SDL_ttf-release-2.22.0/
SDLPlayground/Tutorial/L17MouseEvents/17_mouse_events/
SDLPlayground/Tutorial/L1Hello/L1
SDLPlayground/Tutorial/L2ImageRendering/L2
SDLPlayground/Tutorial/L4KeyPresses/04_key_presses/
SDLPlayground/Tutorial/L4KeyPresses/L4
SDLPlayground/Tutorial/L5SoftStretching/L5
SDLPlayground/Tutorial/L6OtherImageFiles/L6
SDLPlayground/Tutorial/L6OtherImageFiles/SDL_image-release-2.8.2/
SDLPlayground/Tutorial/L7TextureRendering/L7
SDLPlayground/Tutorial/L8GeometryRendering/L8
SDLPlayground/Tutorial/L9ViewPort/09_the_viewport/
SDLPlayground/Tutorial/L9ViewPort/L9
TiledPlayground/MapRendererFromScratch/MapRenderer
TiledPlayground/.gitignore
SimplePlatformer/SimplePlatformer
