# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# CMake stuff
**/build/*

# Personal files
RaylibPlayground/4thAnniversary/Anniversary
RaylibPlayground/Arkanoid/Lesson01/Lesson1
RaylibPlayground/Arkanoid/Lesson02/Lesson2
RaylibPlayground/Arkanoid/Lesson03/Lesson3
RaylibPlayground/Arkanoid/Lesson04/Lesson4
RaylibPlayground/Arkanoid/Lesson05/Lesson5
RaylibPlayground/Arkanoid/Lesson06/Lesson6
RaylibPlayground/Arkanoid/Lesson07/Lesson7
RaylibPlayground/Asteroid/.vscode/
RaylibPlayground/Asteroid/Asteroid
RaylibPlayground/Asteroid/Test
RaylibPlayground/Examples/Core/10WindowResizing/WindowResizing
RaylibPlayground/Examples/Core/1BasicWindow/BasicWindow
RaylibPlayground/Examples/Core/2BasicScreenManager/BasicScreenManager
RaylibPlayground/Examples/Core/3WindowShouldClose/WindowShouldClose
RaylibPlayground/Examples/Core/4InputHandling/InputHandling
RaylibPlayground/Examples/Core/4InputHandling/Test
RaylibPlayground/Examples/Core/5GamepadInputHandling/GamepadInputHandling
RaylibPlayground/Examples/Core/5GamepadInputHandling/Test
RaylibPlayground/Examples/Core/6RandValues/RandValues
RaylibPlayground/Examples/Core/7ScissorTest/ScissorTest
RaylibPlayground/Examples/Core/8-2dCamera/2DCamera
RaylibPlayground/Examples/Core/8-2dCamera/raylib-5.5/
RaylibPlayground/Examples/Core/9-2dPlatformer/2DCameraPlatformer
RaylibPlayground/HelloWorldProject/HelloWorld
RaylibPlayground/Snake/Snake
RaylibPlayground/Snake/Test
RaylibPlayground/UltimaRPGTutorial/Tutorial
RaylibPlayground/raylib_cheatsheet_v5.5.pdf
SDLPlayground/RaylibLogicTest/Test
SDLPlayground/SimplePlatformer/SimplePlatformer
SDLPlayground/Tutorial/L10ColorKeying/10_color_keying.zip
SDLPlayground/Tutorial/L10ColorKeying/10_color_keying/
SDLPlayground/Tutorial/L10ColorKeying/L10
SDLPlayground/Tutorial/L10ColorKeying/Test
SDLPlayground/Tutorial/L11ClipRenderingNSpritesheets/11_clip_rendering_and_sprite_sheets.zip
SDLPlayground/Tutorial/L11ClipRenderingNSpritesheets/11_clip_rendering_and_sprite_sheets/
SDLPlayground/Tutorial/L11ClipRenderingNSpritesheets/L11
SDLPlayground/Tutorial/L11ClipRenderingNSpritesheets/Test
SDLPlayground/Tutorial/L12ColorModulation/12_color_modulation.zip
SDLPlayground/Tutorial/L12ColorModulation/12_color_modulation/
SDLPlayground/Tutorial/L12ColorModulation/L12
SDLPlayground/Tutorial/L13AlphaBlend/13_alpha_blending.zip
SDLPlayground/Tutorial/L13AlphaBlend/13_alpha_blending/
SDLPlayground/Tutorial/L13AlphaBlend/L13
SDLPlayground/Tutorial/L14AnimationAndVSync/14_animated_sprites_and_vsync.zip
SDLPlayground/Tutorial/L14AnimationAndVSync/14_animated_sprites_and_vsync/
SDLPlayground/Tutorial/L14AnimationAndVSync/L14
SDLPlayground/Tutorial/L15RotatingAndFlipping/15_rotation_and_flipping.zip
SDLPlayground/Tutorial/L15RotatingAndFlipping/15_rotation_and_flipping/
SDLPlayground/Tutorial/L15RotatingAndFlipping/L15
SDLPlayground/Tutorial/L16TrueTypeFonts/16_true_type_fonts.zip
SDLPlayground/Tutorial/L16TrueTypeFonts/16_true_type_fonts/
SDLPlayground/Tutorial/L16TrueTypeFonts/L16
SDLPlayground/Tutorial/L16TrueTypeFonts/SDL_ttf-release-2.22.0.zip
SDLPlayground/Tutorial/L16TrueTypeFonts/SDL_ttf-release-2.22.0/
SDLPlayground/Tutorial/L17MouseEvents/17_mouse_events.zip
SDLPlayground/Tutorial/L17MouseEvents/17_mouse_events/
SDLPlayground/Tutorial/L1Hello/L1
SDLPlayground/Tutorial/L1Hello/Test
SDLPlayground/Tutorial/L2ImageRendering/L2
SDLPlayground/Tutorial/L4KeyPresses/04_key_presses.zip
SDLPlayground/Tutorial/L4KeyPresses/04_key_presses/
SDLPlayground/Tutorial/L4KeyPresses/L4
SDLPlayground/Tutorial/L5SoftStretching/L5
SDLPlayground/Tutorial/L5SoftStretching/Test
SDLPlayground/Tutorial/L6OtherImageFiles/06_extension_libraries_and_loading_other_image_formats.zip
SDLPlayground/Tutorial/L6OtherImageFiles/L6
SDLPlayground/Tutorial/L6OtherImageFiles/SDL_image-release-2.8.2.zip
SDLPlayground/Tutorial/L6OtherImageFiles/SDL_image-release-2.8.2/
SDLPlayground/Tutorial/L6OtherImageFiles/Test
SDLPlayground/Tutorial/L7TextureRendering/L7
SDLPlayground/Tutorial/L7TextureRendering/Test
SDLPlayground/Tutorial/L8GeometryRendering/L8
SDLPlayground/Tutorial/L9ViewPort/09_the_viewport.zip
SDLPlayground/Tutorial/L9ViewPort/09_the_viewport/
SDLPlayground/Tutorial/L9ViewPort/L9
TiledPlayground/BoundedCameraViewing/app
TiledPlayground/MapRendererFromScratch/MapRenderer
TiledPlayground/MapRendererFromScratch/assets/Game Boy Character - Fluffy.zip
TiledPlayground/.gitignore
TiledPlayground/Test
TiledPlayground/assets/Game\ Boy\ Character\ -\ Fluffy.zip
TiledPlayground/tmx_1.10.0-linux.zip
TiledPlayground/tmx_1.10.0/*
